header {
  text-align: center;
}
header ul {
  list-style-type: none;
}
header ul li {
  display: inline-block;
}
header ul li a {
  text-decoration: none;
  padding: 5px;
}
header ul li a:hover, header ul li a.active {
  background-color: lightgray;
}

.container-main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.movies-title {
  font-size: 30px;
  width: 300px;
  background-color: lightgreen;
}

.title {
  width: 200px;
  font-size: 25px;
  background-color: blue;
  color: white;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}

.original_title {
  width: 300px;
  font-size: 20px;
  background-color: gray;
  color: white;
  border-radius: 5%;
}