header {
    text-align: center;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
             a {
                text-decoration: none;
                //color: $menu-color;
                //font-size: $font-size;
                padding: 5px;
                 &:hover, &.active {
                    background-color: lightgray;
                }
            }
        }
    }
}